/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(120deg, #f5aaaa 0%, #dce7ec 100%);
}

.heading {
	font-family: 'Lucida Calligraphy', cursive;
	font-size: 35px;
}

.container {
	height: auto;
	width: 800px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

input {
	padding-left: 5px;
	font-size: 20px;
	height: 36px;
}

.middle,
.right {
	width: 120px;
}

.switch {
	padding: 5px;
	background-color: rgb(184, 210, 252);
	border-radius: 50%;
	cursor: pointer;
}

.result {
	box-sizing: border-box;
	width: 800px;
	padding-left: 30px;
}

button {
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
	border: 2px solid rgb(27, 5, 77);
	background-color: rgb(136, 233, 222);
	cursor: pointer;
}

p,
h3,
button,
.switch {
	color: rgb(60, 57, 227);
}

p {
	font-size: 30px;
}
